@using Workshop.BlazorApp.Components._Shared
@using Workshop.Datasource
@inject IProductsRepository ProductsRepo

<PageHeader>
  <Title>
    <i>Delete Product</i>
    <small class="text-muted">#@Id</small>
  </Title>
</PageHeader>

@code {

  [Parameter, EditorRequired]
  public int Id { get; set; }

  protected override void OnParametersSet()
  {
    ProductsRepo.DeleteProduct(Id);
  }

}
