@using Workshop.BlazorApp.Components._Shared
@using Workshop.Datasource
@using Workshop.ViewModels

@inject IProductsRepository ProductsRepo
@inject NavigationManager Navigation

<PageHeader>
  <Title>
    <i>Delete Product</i>
    <small class="text-muted">#@Id</small>
  </Title>
</PageHeader>
<div class="alert alert-danger" role="alert">
  Do you really want to delete product '@Product?.Name'?
  <button class="btn btn-secondary" @onclick="Delete">Delete</button>
  <button class="btn btn-warning" @onclick="Cancel">Cancel</button>
</div>

@code {

  [Parameter, EditorRequired]
  public int Id { get; set; }

  [Parameter]
  public EventCallback Changed { get; set; }

  [Parameter]
  public EventCallback<bool> Result { get; set; }

  protected override void OnParametersSet()
  {
    Console.WriteLine($"DeleteProduct.OnParametersSet: Id={Id}");    
  }

  private ProductViewModel? Product => ProductsRepo.GetProduct(Id);

  private async Task Delete()
  {
    var result = ProductsRepo.DeleteProduct(Id);
    await NotifyResult(result);
    await NotifyChanged();
  }

  private void Cancel()
  { 
    // Variant 1
    Navigation.NavigateTo("/products?fromDelete=true", true);
    // Variant 2
    // Navigation.NavigateTo("/products/command/FromDelete", true);
  }

  private async Task NotifyChanged()
  {
    if (Changed.HasDelegate)
    {
      await Changed.InvokeAsync();
    }
  }

  private async Task NotifyResult(bool result)
  {
    if (Result.HasDelegate)
    {
      await Result.InvokeAsync(result);
    }
  }

}
