@using Workshop.BlazorApp.Components._Shared
@using Workshop.Datasource
@using Workshop.Library
@using Workshop.ViewModels

@inject IProductsRepository ProductsRepo
@inject NavigationManager Navigation

<Condition Check="Product != null">
  <If>
    <EditForm EditContext="editContext" OnValidSubmit="Save">
      <DataAnnotationsValidator />
      <ValidationSummary />

      <TextEdit For="@(() => Product.Name)" Item="Product" @bind-Value="Product.Name"></TextEdit>
      <NumEdit For="@(() => Product.Price)" Item="Product" @bind-Value="Product.Price" @ref="numericEdit"></NumEdit>

      <div class="m-2">
        <button type="submit" class="btn btn-outline-success">Save</button>
      </div>
    </EditForm>
  </If>
  <Else>No Product!</Else>
</Condition>

@code {

  private EditContext? editContext;
  private bool mustSave;
  private NumEdit<ProductEditViewModel>? numericEdit;

  [Parameter]
  public int Id { get; set; }

  private ProductEditViewModel? Product { get; set; }

  protected override void OnInitialized()
  {
    var product = ProductsRepo.GetProduct(Id);
    Product = new ProductEditViewModel
      {
        Name = product.Name,
        Price = product.Price
      };
    editContext = new EditContext(Product);
  }

  private void Save(EditContext editContext)
  {
    if (editContext.Validate())
    {
      var model = editContext.Model as ProductEditViewModel;
      // Save....
      mustSave = false;
    }
  }

}
