@page "/products/{Id:int}"

@using Workshop.BlazorApp.Components._Shared
@using Workshop.Datasource
@using Workshop.Library
@using Workshop.ViewModels

@inject IProductsRepository ProductsRepo
@inject NavigationManager Navigation

<PageHeader>
  <Title>
    <i>Edit Product</i>
    <small class="text-muted">#@Id</small>
  </Title>
</PageHeader>
<Condition Check="Product != null">
  <If>
    <EditForm Model="Product" OnValidSubmit="Save">
      <DataAnnotationsValidator />
      <ValidationSummary />

      <TextEdit For="@(() => Product.Name)" Item="Product" @bind-Value="Product.Name"></TextEdit>
      <NumEdit For="@(() => Product.Price)" Item="Product" @bind-Value="Product.Price" @ref="numericEdit"></NumEdit>

      <div class="m-2">
        <button type="submit" class="btn btn-outline-success">Save</button>
        <button class="btn btn-warning" @onclick="Cancel">Cancel</button>
        <button class="btn btn-primary" @onclick="Increment">Increment</button>
        <button class="btn btn-primary" @onclick="Decrement">Decrement</button>
      </div>
    </EditForm>
  </If>
  <Else>No Product!</Else>
</Condition>


@code {

  private NumEdit<ProductEditViewModel>? numericEdit;

  [Parameter]
  public int Id { get; set; }

  private ProductEditViewModel? Product { get; set; }

  protected override void OnInitialized()
  {
    var product = ProductsRepo.GetProduct(Id);
    Product = new ProductEditViewModel
      {
        Name = product.Name,
        Price = product.Price
      };
  }

  private void Cancel()
  {
    Navigation.NavigateTo("/products");
  }

  private void Save()
  {

  }

  private void Increment()
  {
    numericEdit?.Increment();
  }

  private void Decrement()
  {
    numericEdit?.Decrement();
  }
}
