@page "/products/{Id:int}"

@using Workshop.BlazorApp.Components._Shared
@using Workshop.Datasource
@using Workshop.Library
@using Workshop.ViewModels

@inject IProductsRepository ProductsRepo
@inject NavigationManager Navigation

<PageHeader>
  <Title>
    <i>Edit Product</i>
    <small class="text-muted">#@Id</small>
  </Title>
</PageHeader>
<Condition Check="Product != null">
  <If>
    <EditForm Model="Product" OnValidSubmit="Save">
      <DataAnnotationsValidator />
      <ValidationSummary />

      <TextEdit For="@(() => Product.Name)" Item="Product" @bind-Value="Product.Name"></TextEdit>

      <label for="Price"><u>P</u>rice</label>
      <div class="input-group">        
        <InputNumber id="Price" accesskey="P" tabindex="20" class="form-control" @bind-Value="Product.Price" />
        <div class="input-group-text">&euro;</div>
        <ValidationMessage For="@(() => Product.Price)"></ValidationMessage>
      </div>
      <button type="submit" class="btn btn-outline-success m-2">Save</button>
    </EditForm>
  </If>
  <Else>No Product!</Else>
</Condition>
<button class="btn btn-warning" @onclick="Cancel">Cancel</button>

@code {

  [Parameter]
  public int Id { get; set; }

  private ProductEditViewModel? Product { get; set; }

  protected override void OnInitialized()
  {
    var product = ProductsRepo.GetProduct(Id);
    Product = new ProductEditViewModel
      {
        Name = product.Name,
        Price = product.Price
      };
  }

  private void Cancel()
  {
    Navigation.NavigateTo("/products");
  }

  private void Save()
  {
    
  }

}
