@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<EditForm Model="model">
  <div class="form-group">
    <label>Input:</label>
  <input @bind="@model.MiniModel" @bind:event="oninput" class="form-control"></input>
  </div>
</EditForm>

<output>@model.MiniModel</output>

@code {

  private Model model = new ();

  class Model
  {
    public string MiniModel { get; set; }
  }

}