<span>
  @if (Check)
  {
    @If
  }
  else
  {
    @Else
  }
</span>

@code {

  [Parameter]
  public bool Check { get; set; } = true;

  [Parameter]
  public RenderFragment? If { get; set; }

  [Parameter]
  public RenderFragment? Else { get; set; }

}