@using Fluxor
@inject IStore Store

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <base href="/" />
  <link rel="stylesheet" href="_content/Workshop.Library/dist/styles.css" />
  <link rel="stylesheet" href="Workshop.BlazorApp.styles.css" />
  <link rel="icon" type="image/png" href="favicon.png" />
  <HeadOutlet @rendermode="@InteractiveServer" />
</head>

<body>
  <Routes @rendermode="@InteractiveServer" />
  <script src="_content/Workshop.Library/dist/bundle.js"></script>
  <script src="_framework/blazor.web.js"></script>
  
</body>

</html>

@code {

  protected override async Task OnInitializedAsync()
  {
    await Store.InitializeAsync();
  }

}